parameters:
    level: 5

    paths:
        - src
        - process.php

    excludePaths:
        - tests
        - vendor
        - files
        - docker

    inferPrivatePropertyTypeFromConstructor: false
